<h3 align="center" class="font-weight-bold"> ¿Quiénes somos? </h3>
<p> Home Switch Home es una empresa de tiempos compartidos que durante más de 10 años ha brindado vacaciones inolvidables a más de 120.000 familias de usuarios. </p>
<p> Y hoy, ofrecemos lo último en flexibilidad de vacaciones con un programa de propiedad basado en créditos, en donde cada uno equivale a una semana en cualquiera de nuestras opciones de residencias en todo el mundo. Recibirá asignación de créditos anual. </p>
<p> Disfrute de las mejores residencias cuando se convierta en usuario de Home Switch Home.</p>
