<h3 class="font-weight-bold"> Ayuda </h3>

<p> En esta guía te explicaremos, paso a paso, cómo realizar una reserva satisfactoria en nuestro sitio: </p>

<h5> Registro de usuario </h5>

<p> Para hacer cualquier tipo de reserva, deberás inicialmente registrarte como usuario estándar abonando un cánon mensual.

El registro lo podrás hacer en el área superior derecha del sitio, la opción "Registrarse". </p>

<p> Posteriormente, deberás ingresar todos tus datos. Estos deberán ser reales. </p>

<h5> Usuario estándar </h5>

<p> Un usuario estándar cuenta con 2 créditos anuales, los cuales cada uno equivale a una semana (7 días), y no son acumulables. Tiene la opción de utilizarlos, ya sea, inscribiendose en una subasta por una residencia y ganar la puja, o reservando directamente una residencia en hotsale. </p>

<h5> Usuario premium </h5>

<p> Para obtener mas beneficios, es posible cambiar la membresía de usuario estándar a usuario premium. Luego de tener la sesión iniciada, en la parte superior derecha del sitio, aparece el boton Usuario con una opción "Cambiar membresía". </p>
<p> Aquí podrás ver los diferentes beneficios al ser premium, y se aclara que va a haber un cambio de tarifa. </p>

<h5> Reservas </h5>

<p> Al ser usuario, ya sea estándar o premium, podrás ver en el área superior una barra de búsqueda, para encontrar cualquier residencia con las características que quieras. </p>
<p> Además se puede ver una opción con todo el listado de las residencias que se encuentran disponibles, donde se puede ver imágenes, descripción, localización, precio, disponibilidad y otras características de cada una de las residencias. Entonces, para poder realizar una reserva, vas al boton "Ver disponibilidad", donde elegirás la semana que queres reservar. </p>
<p> Sí sos usuario premium aparece directamente la opción "Reservar".
 En cambio, si sos un usuario estándar aparece la opción, "Registrarse para subasta", que nos registrará para la subasta que será abierta por un administrador de la página, que fijará la fecha de inicio de la subasta, el precio mínimo de puja y la fecha de expiración. </p>
<p> También, aparece el listado de las residencias en hotsale, las cuales pueden ser reservadas directamente por cualquier usuario. </p>



