<h3 align="center" class="font-weight-bold"> Formulario de contacto </h3>

<form action="/" method="get" id="form1">
  	<div class="form-group">
  		<input type="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Nombre" required>
  	</div>
  	<div class="form-group">
  	   <input type="apellido" class="form-control" id="exampleFormControlInput1" placeholder="Apellido" required>
  	</div>
  	<div class="form-group">
    	<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email" required> 
  	</div>
  	<div class="form-group">
    	<textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Mensaje" required></textarea>
  	</div>

  	<button type="submit" form="form1" class="btn btn-primary" value="Submit">Enviar</button>

</form>
	
	
