

@import "bootstrap";

.footer_original {
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: rgb(241, 241, 241);
    
}

body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 55px;
}