<div>
  
<p>
  <%= link_to('Listado de Residencias', residences_path)%>
	
    <a href="residences" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Listado de Residencias</a>
    </p>
 </div>