<div>
  
  <% if signed_in? %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src=".../100px180/" alt="Card image cap">
      <div class="card-body">
      <h5 class="card-title">Titulo de residencia</h5>
      <p class="card-text">Informacion resumida de la residencia</p>
      <a href="#" class="btn btn-success btn-lg">Ver detalle</a>
    </div>
</div>
  <% else %>
    <%= image_tag("HSH-Complete.svg", class:"d-inline-block align-top")%>
  <% end %>
</div>