<h2>Residencias</h2>

<table class="table table-striped">
  
  <thead>
    <tr>
      <th width="5%" >#</th>
      <th width="20%">Residencia</th>
      <th width="10%">Reservada</th>
      <th width="10%">Eliminada</th>
      <th colspan="2"></th>
    </tr>

    <hr />

  </thead>

  <tbody>
    
  </tbody>

</table>

<br>