<%if signed_in? && (current_user.user_type == 1 || current_user.user_type == 4) %>


<div class: 'container' style="margin-left: 15px; margin-right: 15px;">

    <p> Defina el precio de hot sale</p>

    <%= form_for @hs do |h| %>

        <div class="form-group" >
            
            <%= h.label :hotsale_price, 'Precio actual #{Residence.find(@i).price}', margin: 3 %>
            <%= h.number_field :hotsale_price, class: 'form-control', placeholder: 'Precio de hot-sale',
                required: true %>

            <%= h.submit 'Guardar residencia', class: 'btn btn-primary' %>
    
        </div>

    <% end %>
</div>

<%end%>