<header>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <!-- Image and text -->
          <nav class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">
          
          <%= image_tag("logo.svg",size: "60x60", alt: "Edit Entry")%>
          Home Switch Home
          </a>
          </nav>
    </div>
  </header>