<header>

    <div class="navbar navbar-dark navbar-expand-lg navbar-fixed-top navbar-toggler" role="navigation" width="100%">
          <!-- Image and text --> 
          <nav class="navbar navbar-light bg-dark" width="100% navbar-collapse" >
          <a class="navbar-brand" href="/" width="100%">
          <%= image_tag("logo.svg",size: "60x60", class:"d-inline-block align-top", alt: "Edit Entry")%>
          Home Switch Home
            
          </a>
          </nav>
    </div>
  </header>